<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.springstudy.springstudy.spring_base.annotationtest" >
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
        <context:exclude-filter type="assignable" expression="com.springstudy.springstudy.spring_base.annotationtest.service.UserService"/>
        <context:exclude-filter type="custom" expression="com.springstudy.springstudy.spring_base.annotationtest.config.SelfScanFilterConfig"/>
    </context:component-scan>

    <bean class="com.springstudy.springstudy.entry.User" id="user" >
        <property name="name" value="spring-xml-config"/>
        <property name="age" value="12"/>
    </bean>
</beans>